@font-face {
  font-family: "ua-region";
  src: url('ua-region.eot?t=1705302956569'); /* IE9*/
  src: url('ua-region.eot?t=1705302956569#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("ua-region.woff2?t=1705302956569") format("woff2"),
  url("ua-region.woff?t=1705302956569") format("woff"),
  url('ua-region.ttf?t=1705302956569') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('ua-region.svg?t=1705302956569#ua-region') format('svg'); /* iOS 4.1- */
}

[class^="ua-region-"], [class*=" ua-region-"] {
  font-family: 'ua-region' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ua-region-UA:before { content: "\ea01"; }
.ua-region-UA01:before { content: "\ea02"; }
.ua-region-UA0102:before { content: "\ea03"; }
.ua-region-UA0104:before { content: "\ea04"; }
.ua-region-UA0106:before { content: "\ea05"; }
.ua-region-UA0108:before { content: "\ea06"; }
.ua-region-UA0110:before { content: "\ea07"; }
.ua-region-UA0112:before { content: "\ea08"; }
.ua-region-UA0114:before { content: "\ea09"; }
.ua-region-UA0116:before { content: "\ea0a"; }
.ua-region-UA0118:before { content: "\ea0b"; }
.ua-region-UA0120:before { content: "\ea0c"; }
.ua-region-UA05:before { content: "\ea0d"; }
.ua-region-UA0502:before { content: "\ea0e"; }
.ua-region-UA0504:before { content: "\ea0f"; }
.ua-region-UA0506:before { content: "\ea10"; }
.ua-region-UA0508:before { content: "\ea11"; }
.ua-region-UA0510:before { content: "\ea12"; }
.ua-region-UA0512:before { content: "\ea13"; }
.ua-region-UA07:before { content: "\ea14"; }
.ua-region-UA0702:before { content: "\ea15"; }
.ua-region-UA0704:before { content: "\ea16"; }
.ua-region-UA0706:before { content: "\ea17"; }
.ua-region-UA0708:before { content: "\ea18"; }
.ua-region-UA12:before { content: "\ea19"; }
.ua-region-UA1202:before { content: "\ea1a"; }
.ua-region-UA1204:before { content: "\ea1b"; }
.ua-region-UA1206:before { content: "\ea1c"; }
.ua-region-UA1208:before { content: "\ea1d"; }
.ua-region-UA1210:before { content: "\ea1e"; }
.ua-region-UA1212:before { content: "\ea1f"; }
.ua-region-UA1214:before { content: "\ea20"; }
.ua-region-UA14:before { content: "\ea21"; }
.ua-region-UA1402:before { content: "\ea22"; }
.ua-region-UA1404:before { content: "\ea23"; }
.ua-region-UA1406:before { content: "\ea24"; }
.ua-region-UA1408:before { content: "\ea25"; }
.ua-region-UA1410:before { content: "\ea26"; }
.ua-region-UA1412:before { content: "\ea27"; }
.ua-region-UA1414:before { content: "\ea28"; }
.ua-region-UA1416:before { content: "\ea29"; }
.ua-region-UA18:before { content: "\ea2a"; }
.ua-region-UA1802:before { content: "\ea2b"; }
.ua-region-UA1804:before { content: "\ea2c"; }
.ua-region-UA1806:before { content: "\ea2d"; }
.ua-region-UA1808:before { content: "\ea2e"; }
.ua-region-UA21:before { content: "\ea2f"; }
.ua-region-UA2102:before { content: "\ea30"; }
.ua-region-UA2104:before { content: "\ea31"; }
.ua-region-UA2106:before { content: "\ea32"; }
.ua-region-UA2108:before { content: "\ea33"; }
.ua-region-UA2110:before { content: "\ea34"; }
.ua-region-UA2112:before { content: "\ea35"; }
.ua-region-UA23:before { content: "\ea36"; }
.ua-region-UA2302:before { content: "\ea37"; }
.ua-region-UA2304:before { content: "\ea38"; }
.ua-region-UA2306:before { content: "\ea39"; }
.ua-region-UA2308:before { content: "\ea3a"; }
.ua-region-UA2310:before { content: "\ea3b"; }
.ua-region-UA26:before { content: "\ea3c"; }
.ua-region-UA2602:before { content: "\ea3d"; }
.ua-region-UA2604:before { content: "\ea3e"; }
.ua-region-UA2606:before { content: "\ea3f"; }
.ua-region-UA2608:before { content: "\ea40"; }
.ua-region-UA2610:before { content: "\ea41"; }
.ua-region-UA2612:before { content: "\ea42"; }
.ua-region-UA32:before { content: "\ea43"; }
.ua-region-UA3200:before { content: "\ea44"; }
.ua-region-UA3202:before { content: "\ea45"; }
.ua-region-UA3204:before { content: "\ea46"; }
.ua-region-UA3206:before { content: "\ea47"; }
.ua-region-UA3208:before { content: "\ea48"; }
.ua-region-UA3210:before { content: "\ea49"; }
.ua-region-UA3212:before { content: "\ea4a"; }
.ua-region-UA3214:before { content: "\ea4b"; }
.ua-region-UA35:before { content: "\ea4c"; }
.ua-region-UA3502:before { content: "\ea4d"; }
.ua-region-UA3504:before { content: "\ea4e"; }
.ua-region-UA3506:before { content: "\ea4f"; }
.ua-region-UA3508:before { content: "\ea50"; }
.ua-region-UA44:before { content: "\ea51"; }
.ua-region-UA4402:before { content: "\ea52"; }
.ua-region-UA4404:before { content: "\ea53"; }
.ua-region-UA4406:before { content: "\ea54"; }
.ua-region-UA4408:before { content: "\ea55"; }
.ua-region-UA4410:before { content: "\ea56"; }
.ua-region-UA4412:before { content: "\ea57"; }
.ua-region-UA4414:before { content: "\ea58"; }
.ua-region-UA4416:before { content: "\ea59"; }
.ua-region-UA46:before { content: "\ea5a"; }
.ua-region-UA4602:before { content: "\ea5b"; }
.ua-region-UA4604:before { content: "\ea5c"; }
.ua-region-UA4606:before { content: "\ea5d"; }
.ua-region-UA4608:before { content: "\ea5e"; }
.ua-region-UA4610:before { content: "\ea5f"; }
.ua-region-UA4612:before { content: "\ea60"; }
.ua-region-UA4614:before { content: "\ea61"; }
.ua-region-UA48:before { content: "\ea62"; }
.ua-region-UA4802:before { content: "\ea63"; }
.ua-region-UA4804:before { content: "\ea64"; }
.ua-region-UA4806:before { content: "\ea65"; }
.ua-region-UA4808:before { content: "\ea66"; }
.ua-region-UA51:before { content: "\ea67"; }
.ua-region-UA5102:before { content: "\ea68"; }
.ua-region-UA5104:before { content: "\ea69"; }
.ua-region-UA5106:before { content: "\ea6a"; }
.ua-region-UA5108:before { content: "\ea6b"; }
.ua-region-UA5110:before { content: "\ea6c"; }
.ua-region-UA5112:before { content: "\ea6d"; }
.ua-region-UA5114:before { content: "\ea6e"; }
.ua-region-UA53:before { content: "\ea6f"; }
.ua-region-UA5302:before { content: "\ea70"; }
.ua-region-UA5304:before { content: "\ea71"; }
.ua-region-UA5306:before { content: "\ea72"; }
.ua-region-UA5308:before { content: "\ea73"; }
.ua-region-UA56:before { content: "\ea74"; }
.ua-region-UA5602:before { content: "\ea75"; }
.ua-region-UA5604:before { content: "\ea76"; }
.ua-region-UA5606:before { content: "\ea77"; }
.ua-region-UA5608:before { content: "\ea78"; }
.ua-region-UA59:before { content: "\ea79"; }
.ua-region-UA5902:before { content: "\ea7a"; }
.ua-region-UA5904:before { content: "\ea7b"; }
.ua-region-UA5906:before { content: "\ea7c"; }
.ua-region-UA5908:before { content: "\ea7d"; }
.ua-region-UA5910:before { content: "\ea7e"; }
.ua-region-UA61:before { content: "\ea7f"; }
.ua-region-UA6102:before { content: "\ea80"; }
.ua-region-UA6104:before { content: "\ea81"; }
.ua-region-UA6106:before { content: "\ea82"; }
.ua-region-UA63:before { content: "\ea83"; }
.ua-region-UA6302:before { content: "\ea84"; }
.ua-region-UA6304:before { content: "\ea85"; }
.ua-region-UA6306:before { content: "\ea86"; }
.ua-region-UA6308:before { content: "\ea87"; }
.ua-region-UA6310:before { content: "\ea88"; }
.ua-region-UA6312:before { content: "\ea89"; }
.ua-region-UA6314:before { content: "\ea8a"; }
.ua-region-UA65:before { content: "\ea8b"; }
.ua-region-UA6502:before { content: "\ea8c"; }
.ua-region-UA6504:before { content: "\ea8d"; }
.ua-region-UA6506:before { content: "\ea8e"; }
.ua-region-UA6508:before { content: "\ea8f"; }
.ua-region-UA6510:before { content: "\ea90"; }
.ua-region-UA68:before { content: "\ea91"; }
.ua-region-UA6802:before { content: "\ea92"; }
.ua-region-UA6804:before { content: "\ea93"; }
.ua-region-UA6806:before { content: "\ea94"; }
.ua-region-UA71:before { content: "\ea95"; }
.ua-region-UA7102:before { content: "\ea96"; }
.ua-region-UA7104:before { content: "\ea97"; }
.ua-region-UA7106:before { content: "\ea98"; }
.ua-region-UA7108:before { content: "\ea99"; }
.ua-region-UA73:before { content: "\ea9a"; }
.ua-region-UA7302:before { content: "\ea9b"; }
.ua-region-UA7304:before { content: "\ea9c"; }
.ua-region-UA7306:before { content: "\ea9d"; }
.ua-region-UA74:before { content: "\ea9e"; }
.ua-region-UA7402:before { content: "\ea9f"; }
.ua-region-UA7404:before { content: "\eaa0"; }
.ua-region-UA7406:before { content: "\eaa1"; }
.ua-region-UA7408:before { content: "\eaa2"; }
.ua-region-UA7410:before { content: "\eaa3"; }
.ua-region-UA80:before { content: "\eaa4"; }
.ua-region-UA8000:before { content: "\eaa5"; }
.ua-region-UA85:before { content: "\eaa6"; }
.ua-region-UA8500:before { content: "\eaa7"; }

